h1{
    background-color: red;
    text-align: center;
    padding: 20px;
    color: #777777;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


h2{
    text-align: left;
}
#mainsection{
    float:left;
}

#aswithheading{
    float:right;
}

#container{
    width: 960px;
    margin: auto;
    font-size: "18px";
    font-family: "Arial", "Helvetica New", "Helvetica", "Sans-serif";     
    
}
#bottom {
    margin:70px;
    width:890px;
    float:left; 
    border: 1px solid #4CAF50; 
}
